##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [10]:
empty = None
print(type(empty))

<class 'NoneType'>

2. > Create a variable containing your name (Points : 5)

In [9]:
name = "Steven Soewignjo"
print(name)

Steven Soewignjo

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [8]:
brand = ["Apple", "Samsung", "Xiaomi", "Oppo", "Vivo"]
print(brand)

['Apple', 'Samsung', 'Xiaomi', 'Oppo', 'Vivo']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [11]:
iPhone14 = {
    "brand": "Apple",
    "cpu": "Bionic A16"
}
print(iPhone14['brand'])
print(iPhone14['cpu'])

{'brand': 'Apple', 'cpu': 'Bionic A16'}
Apple
Bionic A16

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [12]:
price = 12000
quantity_sold = 20
discount = 0.1

total_price = price * quantity_sold * discount
print(total_price)

24000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [13]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries = ["Indonesia", "Malaysia", "Singapore", "Thailand", "Vietnam", "Philippines", "Brunei"]
print(countries)

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Vietnam', 'Philippines', 'Brunei']

In [14]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]

['Indonesia', 'Malaysia', 'Singapore', 'Thailand']

In [15]:
# Append new country to the list (Points : 5)

countries.append("Cambodia")

In [16]:
# Drop one country from the list (Points : 5)

countries.remove("Cambodia")

In [17]:
# Get country in the last index (Points : 5)

countries[-1]

'Brunei'

# Dictionary Data Operation

6. >  Follow the instructions below

In [18]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [20]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [21]:
# Print all customer names (Points : 5)

#Code goes here
customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [22]:
# Print the first customer name (Points : 5)

#Code goes here
customer['name'][0]

'Dio'

In [23]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
customer.pop('age')

[20, 19, 24, 39]

In [25]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

#Code goes here
for i in range(len(customer['gender'])):
    if customer['gender'][i] == 1:
        customer['gender'][i] = "Male"
    else:
        customer['gender'][i] = "Female"

print(customer['gender'])

['Male', 'Female', 'Female', 'Male']